          <div class="user-details">
   <h1> My Expertise </h1>
   <p> <b>Javascript</b> is my Girlfriend (Trendy, Adventurours and Crazy at times) and <b>Java</b> is my beloved Wife (Caring, Loyal and Understanding). I live at AWS (Amazon Web Services) and Moving to Azure soon.</p>
 </div>
   <div class="user">
     <div class="tech">
       <h2>Java</h2>
       <i class="devicon-java-plain colored"></i>
       <p>Having 4+ years of relation with cute two cute kids, Spring and Hibernate</p>
     </div>
     <div class="tech">
       <h2>Javascript</h2>
       <!-- <i class="devicon-javascript-plain colored"></i> -->
       <i class="devicon-angularjs-plain colored"></i>
       <i class="devicon-nodejs-plain-wordmark"></i>
       <p>Fell in Love back last year, I love all of her flavours, React and Angular and Express</p>
     </div>
     <div class="tech">
       <h2>AWS</h2>
       <i class="devicon-amazonwebservices-original"></i>
       <p>You can either find me relaxing @ S3, or working @ EC2  or having fun  @ Lambda. I love sitting beside  CloudWatch and staring at tailf.</p>
     </div>
 </div>
