<div id="particles-js">
    <div class="header">
        <h1>
          <span class="site-title">Hey, I'm Dev ;)</span>
          <span>...</span>
  
          <span class="site-description">Full Stack Coding Ninja</span>
        </h1>
        <div class="header-icons">
          <a aria-label="Send email" href="mailto:dtiwari18@gmail.com"><i class="icon fa fa-envelope"></i></a>
          <a aria-label="My Twitter" target="_blank" href="https://twitter.com/ahamdevam"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
          <a aria-label="My Stack Overflow" target="_blank" href="https://stackoverflow.com/users/4161024/dave-ranjan"><i class="icon fa fa-stack-overflow" aria-hidden="true"></i></a>
          <a aria-label="My Github" target="_blank" href="https://github.com/daveRanjan"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        </div>
        <div class="header-links">
          <a class="link" href="#about" data-scroll>About Me</a>
          <a class="link" href="#projects" data-scroll>Blogs</a>
        </div>
    </div>
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
  </div>
