<div class="user-details">
<h1> Blogs </h1>
</div>
<div class="user-projects">
<div class="images-right">
  <img alt="mountains" src="https://cdn-images-1.medium.com/max/1000/1*aJZLDpwFJdiB-G6TvGcg7w.jpeg" />
</div>
<div class="contents">
<h3> Discovery of Node.js by a Java Developer  </h3>
<p>Then I came to know about some platform, which enables “so called developers“ (not the real ones, real ones use Java, remember) to use JavaScript on the server. I said how lame. Are they going to create beautiful pages on server :D ?</p>
<a class="project-link" href="https://medium.com/@daveRanjan/my-journey-to-node-4fd38f51a73b">Check it out</a>
</div>
</div>
<div class="user-projects">
<div class="images-left">
  <iframe src="https://giphy.com/embed/3o6ZtpaVM2EyF58duo" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
<div class="contents-right">
<h3> Multi-Tenancy in a story </h3>
<p>Multi-Tenancy is not easy to understand, let me help you explain it, taking example of my dream venture Cool-Pool</p>
<a class="project-link" href="#">Check it out</a>
</div>
</div>
<div class="user-projects">
<div class="images-right">
    <iframe src="https://giphy.com/embed/dDpeN9ODGNYbK" width="270" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>
<div class="contents">
  <h3> Introduction to Dataomic </h3>
  <p>Datomic is a new kind of database. Did I hear a database — what another database??? There are tons of database out there, then why chose Datomic ?</p>
  <a class="project-link" href="https://medium.com/@daveRanjan/database-reinvented-datomic-1aa354721705">Check it out</a>
</div>
</div>